{% extends 'admin.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block body %}
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    <div class="bloc1">
        <h1><span class="bg-white">Réinitialisation du mot de passe</span></h1>

        {{ form_start(requestForm) }}
            {{ form_row(requestForm.email) }}
            <div>
                <small>
                    Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                </small>
            </div>

            <button class="btn btn-primary margin-top">Envoyer la réinitialisation par E-Mail</button>
        {{ form_end(requestForm) }}
    </div>
{% endblock %}