{% extends 'admin.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}

<section class="bloc1">
    <p class="btn-add">
        <a class="btn-link" href="{{ path('add_article') }}">Ajouter un article</a>
    </p>
    <h2>Liste des articles</h2>
        {% for article in articles %}
            <div class="line">
                <p>{{ article.name }}</p>
                <ul>
                    <li>
                        <a>Voir</a>
                    </li>
                    <li>
                        <a href=" {{ path('modify_article', { slug: article.slug } )}} ">Modifier</a>
                    </li>
                    <li>
                        <a href=" {{ path('delete_article', { id: article.id } )}} ">Supprimer</a>
                    </li>
                </ul>
            </div>
        {% else %}
            <p>Il n'y a pas encore d'articles publiés !</p>
        {% endfor %}
</section>

{% endblock %}