{% extends 'admin.html.twig' %}

{% block title %}Modifier le pied de page{% endblock %}

{% block body %}

<section class="bloc1">
    <h2>Modifier le pied de page</h2>
    {{ form_start(form) }}
            {{ form_row(form.block_content, { value: dataFile }) }}
    {{ form_end(form) }}
</section>

{% endblock %}