<h1>Mentions légales du site</h1>

<!-- Éditeur du site -->
<section>
  <h2>Éditeur du site</h2>
</section>

<!-- Concepteur du site -->
<section>
  <h2>Concepteur du site</h2>
</section>

<!-- Hébergeur du site -->
<section>
  <h2>Hébergeur du site</h2>
</section>