<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                {{ meta_title }}
            {% endblock %}
        </title>
        <meta name="description" content="{{ meta_description }}" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="content-website">
            <!-- En-tête du site -->
            {% include "front/blocks/header.html.twig" %}

            <!-- Contenu du site -->
            <main>
            {% block body %}
                {% if app.request.attributes.get('_route') == 'home' %}
                    {% include "front/website/index.html.twig" %}
                {% elseif app.request.attributes.get('_route') != 'home' %}
                    {% include "front/website/#{slugs.filename}.html.twig" %}
                {% endif %}
            {% endblock %}
            </main>

            <!-- Pied de page du site -->
            {% include "front/blocks/footer.html.twig" %}
        </div>
        
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
